body {
    background-color: rgb(0, 0, 0);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    background-color: darkseagreen;
  }
  
  h2 {
    color: #000000e0;
    background-color: #cb5940;
  }
  
  h3 {
    color: #000000de;
    background-color: #cb5940;
  }